@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}
/*100vh y 100vw es para que abarque 100% de la tela y tambien por que se cero el margin y padding*/

main {
    height: 100vh;
    position: relative;
    background-color: aquamarine;
}
id.telefone {
    background-color: bisque;
}