    @charset "UTF-8";
        body {
            background-color: rgb(223, 229, 209);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1 {
           color: rgb(226, 121, 45);
           background-color: rgb(215, 232, 120); 
        }
        h2 {
            color: rgb(242, 74, 8);
        }
        p {
            text-align: center;
        }
  