@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}
/*100vh y 100vw es para que abarque 100% de la tela y tambien por que se cero el margin y padding*/
body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    /* top center nos sirve para centralizar la imagen y el backsize para cuadrar el tamaño de la imagen*/
}

main {
    height: 100vh;
    position:relative;
   
}
section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*para posicionar el cuadro en el medio de la tela se usa el top y el left, para lograr posicionar justo en el medio usamos transformacion */

    height: 627px;
    width: 311px;
    background-color: aqua;
    background: url('../imagens/frame-iphone.png') no-repeat;
    /*agregamos ../ para poder abrir dos carpetas e ingresar a imagenes y el no-repeat para que no se repita, para obtener ese valor de 627 y 311 se abrio la imagen en gimp y se vio las propiedades de la imagen del telefono*/
}
iframe#tela {
    position: relative;
    top: 80px;
    left: 20px;
    width: 265px;
    height: 470px;
}