@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kaushan+Script&display=swap');

:root {
    --cor0: #57DBFF;
    --cor1: #7EE8C6;
    --cor2: #90FF9E;
    --cor3: #B197FF;
    --cor4: #6A8CE8;
    
    --font-padrao: arial,verdana,sans-serif;
    --font-destaque: 'Josefin Sans';

}

* {
    margin: 0px;
    padding: 0px;
}
body { 
    background-color: var(--cor1);
    font-family: var(--font-destaque);
}

header {

    background-image: linear-gradient(to bottom, var(--cor0), var(--cor2), var(--cor3));
    text-align: center;
    min-height: 160px;
    padding: 30px;
    margin-top: 0px;
}

header > h1 {

    margin-top: 40px;
    margin-bottom: 30px;
    color: white;
    font-size: 3em;
    font-weight: bold;
    font-style: oblique;
    text-shadow: 2px 2px 2px 10px black;
}
header >p {
    color: white;
max-width: 700px;
padding left: 10px;
padding right: 30px;
margin :auto;
margin bottom: 50px;
}

nav {
    background-color: var(--cor4);
    margin-top: 10px;
    margin-bottom: 20px;
}
nav > a {
    color: white;
   text-decoration: none; 
   font-weight: bold;
   padding: 10px;
   margin: 80px ;
   transition-duration: 1s;

}

nav > a:hover {

    background-color: var(--cor2);
    color: var(--cor3);
    text-decoration: double;
    border-radius: 8px;
    
    
}

div.video {
    min-width: 500px;
    max-width: 1600px;
    background-color: var(--cor0);
    margin: 0%;
    padding: 20px;
    padding-bottom: 39px;
    border-radius: 20px;
 

}
div.video > iframe {
    min-width: 300px;
    max-width: 1600px;
    margin: 10px 10px 20px 20px;
    position: relative;

}

main {

    background-color: var(--cor2);
    min-width: 500px;
    max-width: 1600px;
    margin: auto;
    
    
}
main > article {
    margin: auto;
    background-color: var(--cor4);
}

main article >h2 {

    padding: 20px;

    background-image: linear-gradient(to left, var(--cor0), var(--cor2), var(--cor4));
    color: white;
}

main article > p {

    padding: 10px;
    text-align: center;
    margin: 1% 10% 2% 10%;
    padding: 30px;
    text-indent: 10px;
}

main img.pequena {

max-width: 800px;
min-width: 150px;
display: block;
margin: 1% 15% 5% 40%;


}

main img.espanhol {

    max-width: 800px;
    min-width: 150px;
    margin: 1% 15% 2% 40%;


}

footer {

    margin: 0%;
    text-align: center;
    background-color: var(--cor0);
}